.vertical-button{
    margin: 0 4px;
}
.vertical-button .bp3-button-text {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers content horizontally in the flex container */
    justify-content: center; /* Centers content vertically in the flex container */
}

.button-label {
    margin-top: 4px; /* Adds space between the icon and the text */
}

.input-group.sync-style{
    margin-top: 4px;
    display: flex;
    justify-content: center;
}

.rm-xparser-default-cross-graph-block{
    display:none !important;
}

.rm-block-main:has(.rm-xparser-default-cross-graph-block):after{
    /* content: "🔄 "; */
    padding-top:4px;
    padding-right:4px;
    content:url('data:image/svg+xml,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"  viewBox="0 0 14 14" style="fill:currentcolor;" width="14px" height="14px" xml:space="preserve"><path class="cls-1" d="M4.3,13.8l-2.7-2.7,2.7-2.7.8.8-1.3,1.3h5.6c1.9,0,3.5-1.6,3.5-3.5v-1.7h1.2v1.7c0,1.2-.5,2.4-1.4,3.3-.9.9-2,1.4-3.3,1.4H3.7l1.3,1.3-.8.8ZM1.2,8.7H0v-1.7C0,5.8.5,4.6,1.4,3.7c.9-.9,2-1.4,3.3-1.4h5.6l-1.3-1.3.8-.8,2.7,2.7-2.7,2.7-.8-.8,1.3-1.3h-5.6c-1.9,0-3.5,1.6-3.5,3.5v1.7Z"/></svg>');
  } 
  
  .rm-block-main:has(.rm-xparser-default-cross-graph-block), 
  .roam-block:has(.rm-xparser-default-cross-graph-block)
  {
    cursor: not-allowed !important;
    user-select: none;
  }
  .rm-block-main:has(.rm-xparser-default-cross-graph-block){
    background:rgba(232,232,232, .50);
  }